extends pageLayout

block pageContent
	.buttons
		button.btn.btn-sm.btn-primary Changes from last 7 days
	h1 Changes
	each s in sets
		if s.terms && s.terms.length > 0
			h3=s.title
			table.changes-table
				thead
					tr
						th
						each l in s.langs
							- var c = cultures.get(l)
							th
								img(src=c.flag, title=c.name)
				tbody
					each t in s.terms
						if t.entries
							tr
								each e, i in t.entries
									if i === 0
										if e && e.type
											th(class=e.type + ' pop', data-type=e.type, data-user=e.user, data-date=e.date.toString(), data-value=e.value)=e.value
										else
											th=e.value
									else 
										if e && e.type
											td(class=e.type + ' pop', data-type=e.type, data-user=e.user, data-date=e.date.toString(), data-value=e.value)
										else
											td

	#popover(style='display:none')
		.popover.top(style='display:block')
			.arrow
			h3.popover-title
			.popover-content
				p