extends pageLayout

mixin lang(id, name)
	.lang-entry.form-control-static
		input(type='hidden', name='langs[]', value=id)
		.pull-right
			button.form-items-up.btn.btn-xs.btn-default(data-lang=id) ▲
			| 
			button.form-items-down.btn.btn-xs.btn-default(data-lang=id) ▼
			| 
			button.form-items-remove.btn.btn-xs.btn-default(data-lang=id) remove
		img.flag(src='/images/flags/' + id + '.png')
		b=name

block pageContent
	#form-items-template(style='display: none')
		+lang('en', 'English')

	form.form-horizontal(action='', method='post', role='form')
		.form-group
			h2.col-sm-offset-4.col-sm-8 Set
		if error
			.alert.alert-danger=error
		.form-group
			label.col-sm-4.control-label(for='inputTitle') Title
			.col-sm-8
				input#inputTitle.form-control(type='text', name='title', value=set.title, autocomplete='off', required)
				em.help-block Publicly visible title
		.form-group
			label.col-sm-4.control-label(for='inputName') Name
			.col-sm-8
				input#inputName.form-control(type='text', name='name', value=set.name, pattern='\\S+', autocomplete='off')
				em.help-block Name used for access by dev tools (no spaces allowed)
		.form-group
			label.col-sm-4.control-label(for='inputDevices') Devices
			.col-sm-8
				input#inputDevices.form-control(type='text', name='devices', value=set.devices.join(' '), autocomplete='off')
				em.help-block Space separated names used for access by dev tools
		.form-items
			.form-group
				label.col-sm-4.control-label Languages
				.form-items-list.col-sm-8
					each l in set.langs
						- var c = cultures.get(l);
						if c
							+lang(c.id, c.name)
						else
							+lang(l, c.id + ' (unknown)')
			.form-group
				.col-sm-offset-4.col-sm-8
					select.form-items-selector.form-control
						option(value=0) add language
						each c in cultures.all
							option(value=c.id)=c.name
		hr
		.form-group
			label.col-sm-4.control-label(for='inputVersion') Current Version
			.col-sm-8
				input#inputVersion.form-control(type='text', name='version', value=set.version, autocomplete='off')
		.form-group
			label.col-sm-4.control-label(for='inputChanges') Current Changes
			.col-sm-8
				textarea#inputChanges.form-control(name='changes', rows=5)=set.changes
		.form-group
			.col-sm-offset-4.col-sm-8
				a.btn.btn-default(href='/sets') Cancel
				| 
				button.btn.btn-primary(type='submit') Save
